<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		#include("/vm/analysis/combination/report.css")
    </style>
</head>

<body>
	<table id="elems">
		<thead>
			<tr>
				<th>Name</th>
				<th>N</th>
				<th>Weight</th>
				<th>P-Value</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			#foreach( $e in $combinedElements )
				<tr>
					<td>$e.name</td>
					<td>$e.n</td>
					<td>$e.weight</td>
					<td>$e.pvalue</td>
					<td style="width: 20px; background-color: $e.color">&nbsp;</td>
				</tr>
			#end
		</tbody>

		<tfoot>
			<tr>
				<td colspan="3">&nbsp;</td>
				<td>$cellValues.pvalue</td>
				<td>&nbsp;</td>
			</tr>
		</tfoot>
	</table>
	<p>A total of $cellValues.n elements where combined.</p>
</body>
</html>