/* Default Stylesheet */

															/** BODY ELEMENTS **/
body {
	padding: 0 5%;
	font-size: .75em;
	text-align: center;
	}






															/** MAIN CONTAINERS **/
div#container {
	width: 700px;
	margin: 0 auto;
	text-align: left;
	}
	body.fullwidth div#container { width: 100%; }
	div#header {
		
		}
		div#header-in {
			
			}
	div#content-wrap {
		
		}
		div.content {
			
			}
			div.content-in {
				
				}
	div#footer {
		
		}
		div#footer-in {
			
			}






															/** SUB CONTAINERS **/
* { }






															/** LISTS **/
* { }






															/** TYPOGRAPHY **/
* { }






															/** FORMS **/
* { }






															/** END **/