/* Default Stylesheet */

															/** BODY ELEMENTS **/
body {
	color: #333;
	background-color: #eee;
	}

table {
	border-collapse:collapse;
	border-width: 1px;
	border-style: solid;
}

th, td {
	padding: 2px 4px 2px 4px;
	border-width: 1px;
	border-style: solid;
}

h1, h2, h3 {
	margin-top: 0.75em;
}
h4, h5, h6 {
	margin-top: 0.50em;
	}

h7, h8, h9 {
	margin-top: 0.25em;
	}
	
/** Results table **/
.rtab {
	border-style: none;
	}

.rtabh {
	border-style: none;
	text-align: center; 
	vertical-align: bottom;
	}
	
.rtabg {
	border-style: none;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding-left: 4px;
	}
	
.rtabr {
	border-style: none;
	}

.rtabd {
	border-style: none;
	}
	
/** Properties table **/
.ptab, .ptabr, .ptabh, .ptabd {}

/** Analysis table **/
.atab, .atabr, .atabh, .atabd {}

/** Description table **/
.dtab, .dtabr, .dtabh, .dtabd {}


															/** MAIN CONTAINERS **/
div#container {
	margin: 2em auto;
	}
	div#header {
		color: inherit;
		background-color: #fff;
		border: 1px solid #e5e5e5;
		border-width: 0 2px 2px 0;
		}
		div#header-in {
			padding: 20px;
			}
	div#content-wrap {
		padding: 10px 0;
		}
		div.content {
			color: inherit;
			background-color: #fff;
			border: 1px solid #e5e5e5;
			border-width: 0 2px 2px 0;
			}
			div.content-in {
				padding: 20px;
				}
	div#footer {
		color: inherit;
		background-color: #fff;
		border: 1px solid #e5e5e5;
		border-width: 0 2px 2px 0;
		}
		div#footer-in {
			padding: 20px;
			}






															/** SUB CONTAINERS **/
* { }






															/** LISTS **/
* { }






															/** TYPOGRAPHY **/
* { }






															/** FORMS **/
* { }






															/** END **/