#macro( htmlColor $color )
	rgb($color.Red, $color.Green, $color.Blue)
#end

#macro( pvalueColor $value )
	#set( $color = $pvalueScale.getColor($value) )
    <span style="width: 16px; height: 16px; background-color: #htmlColor($color);">&nbsp;&nbsp;&nbsp;&nbsp;</span>
#end

#macro( nameRow $value )
	<tr>
		<td colspan="2">$value</td>
	</tr>
#end

#macro( valueRow $label $value )
	<tr>
		<td class="label">$label</td>
		<td class="value">$value</td>
	</tr>
#end

#macro( fmtValueRow $label $value )
	<tr>
		<td class="label">$label</td>
		<td class="value">$fmt.format($value)</td>
	</tr>
#end


#macro( pvalueRow $label $value )
	<tr>
		<td class="label">$label</td>
		<td class="value">
			#pvalueColor($value)
			$fmt.pvalue($value)
		</td>
	</tr>
#end

#macro( cpvalueRow $label $value )
	#set( $cval = $value )
	#if( $cval > 1.0 )
		#set( $cval = 1.0 )
	#end
	<tr>
		<td class="label">$label</td>
		<td class="value">
			#pvalueColor($cval)
			$fmt.pvalue($value)
		</td>
	</tr>
#end

#macro( section $title )
	<tr>
		<td class="section" colspan="2">$title</td>
	</tr>
#end

<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
    </style>
</head>
<body >
    <table>
		#section( "Condition" )
		#nameRow( $columnElement )
		
		#section( "Module" )
		#nameRow( $rowElement )
		#valueRow( "N" $cell.N )
		#valueRow( "Observed" $cell.observed )
		
		#section( "Population" )
		#valueRow( "Probability" $fmt.format("%.3g", $cell.probability) )
		#valueRow( "Exp-Mean" $fmt.format("%.3g", $cell.expected-mean) )
		#valueRow( "Exp-StDev" $fmt.format("%.3g", $cell.expected-stdev) )
		
		#section( "P-Values" )
		#pvalueRow( "Left" $cell.left-p-value )
		#pvalueRow( "Right" $cell.right-p-value )
		#pvalueRow( "Two-Tail" $cell.two-tail-p-value )
		
		#section( "Correction" )
		#cpvalueRow( "Left" $cell.corrected-left-p-value )
		#cpvalueRow( "Right" $cell.corrected-right-p-value )
		#cpvalueRow( "Two-Tail" $cell.corrected-two-tail-p-value )
    </table>
	
	#parse( "/vm/details/scale.vm" )
</body>
</html>