<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		
		.ctHeader {
			background-color: rgb(192, 192, 192);
			margin: 1px;
		}
		
		.ctValue {
			background-color: rgb(252, 252, 252);
			margin: 1px;
			text-align: right;
		}
    </style>
</head>
<body>
    <table>
		#section( "Condition" )
		#nameRow( $columnElement )
		
		#section( "Module" )
		#nameRow( $rowElement )
		#valueRow( "N" $cell.N )
		
		#section( "Contingency Table" )
		<tr>
			<td colspan="2">
        		<table>
    				<tr>
    					<td></td>
    					<td class="ctHeader">1</td>
    					<td class="ctHeader">0</td>
    				</tr>
    				<tr>
    					<td class="ctHeader">belong</td>
    					<td class="ctValue">$cell.a</td>
    					<td class="ctValue">$cell.b</td>
    				</tr>
    				<tr>
    					<td class="ctHeader">don&acute;t belong</td>
    					<td class="ctValue">$cell.c</td>
    					<td class="ctValue">$cell.d</td>
    				</tr>
                </table>
            </td>
    	</tr>
		
		#section( "P-Values" )
		#pvalueRow( "Left" $cell.left-p-value )
		#pvalueRow( "Right" $cell.right-p-value )
		#pvalueRow( "Two-Tail" $cell.two-tail-p-value )
		
		#pvalueScale()
		
		#section( "Correction" )
		#cpvalueRow( "Left" $cell.corrected-left-p-value )
		#cpvalueRow( "Right" $cell.corrected-right-p-value )
		#cpvalueRow( "Two-Tail" $cell.corrected-two-tail-p-value )
    </table>
</body>
</html>