#macro( htmlColor $color )
	rgb($color.Red, $color.Green, $color.Blue)
#end

#macro( pvalueColor $value )
	#set( $color = $pvalueScale.getColor($value) )
    <span style="width: 16px; height: 16px; background-color: #htmlColor($color);">&nbsp;&nbsp;&nbsp;&nbsp;</span>
#end

#macro( nameRow $value )
	<tr>
		<td colspan="2">$value</td>
	</tr>
#end

#macro( valueRow $label $value )
	<tr>
		<td class="label">$label</td>
		<td class="value">$value</td>
	</tr>
#end

#macro( fmtValueRow $label $value )
	<tr>
		<td class="label">$label</td>
		<td class="value">$fmt.format($value)</td>
	</tr>
#end


#macro( pvalueRow $label $value )
	<tr>
		<td class="label">$label</td>
		<td class="value">
			#pvalueColor($value)
			$fmt.pvalue($value)
		</td>
	</tr>
#end

#macro( cpvalueRow $label $value )
	<tr>
		<td class="label">$label</td>
		<td class="value">$fmt.pvalue($value)</td>
	</tr>
#end

#macro( section $title )
	<tr>
		<td class="section" colspan="2">$title</td>
	</tr>
#end

<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		
		.ctHeader {
			background-color: rgb(192, 192, 192);
			margin: 1px;
		}
		
		.ctValue {
			background-color: rgb(252, 252, 252);
			margin: 1px;
			text-align: right;
		}
    </style>
</head>
<body>
    <table>
		#section( "Condition" )
		#nameRow( $columnElement )
		
		#section( "Module" )
		#nameRow( $rowElement )
		#valueRow( "N" $cell.N )
		
		#section( "Contingency Table" )
		<tr>
			<td colspan="2">
        		<table>
    				<tr>
    					<td></td>
    					<td class="ctHeader">1</td>
    					<td class="ctHeader">0</td>
    				</tr>
    				<tr>
    					<td class="ctHeader">belong</td>
    					<td class="ctValue">$cell.a</td>
    					<td class="ctValue">$cell.b</td>
    				</tr>
    				<tr>
    					<td class="ctHeader">don&acute;t belong</td>
    					<td class="ctValue">$cell.c</td>
    					<td class="ctValue">$cell.d</td>
    				</tr>
                </table>
            </td>
    	</tr>
		
		#section( "P-Values" )
		#pvalueRow( "Left" $cell.left-p-value )
		#pvalueRow( "Right" $cell.right-p-value )
		#pvalueRow( "Two-Tail" $cell.two-tail-p-value )
		
		#section( "Correction" )
		#cpvalueRow( "Left" $cell.corrected-left-p-value )
		#cpvalueRow( "Right" $cell.corrected-right-p-value )
		#cpvalueRow( "Two-Tail" $cell.corrected-two-tail-p-value )
    </table>
	
	#parse( "/vm/details/scale.vm" )
</body>
</html>