<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
    </style>
</head>
<body>
    <table>
		#section( "Condition" )
		#nameRow( $columnElement )
		
		#section( "Module" )
		#nameRow( $rowElement )
		#valueRow( "N" $cell.N )
		#valueRow( "Observed" $cell.observed )
		
		#section( "Population" )
		#valueRow( "Probability" $fmt.format("%.3g", $cell.probability) )
		#valueRow( "Exp-Mean" $fmt.format("%.3g", $cell.expected-mean) )
		#valueRow( "Exp-StDev" $fmt.format("%.3g", $cell.expected-stdev) )
		
		#section( "P-Values" )
		#pvalueRow( "Left" $cell.left-p-value )
		#pvalueRow( "Right" $cell.right-p-value )
		#pvalueRow( "Two-Tail" $cell.two-tail-p-value )
		
		#section( "Correction" )
		#cpvalueRow( "Left" $cell.corrected-left-p-value )
		#cpvalueRow( "Right" $cell.corrected-right-p-value )
		#cpvalueRow( "Two-Tail" $cell.corrected-two-tail-p-value )
    </table>
</body>
</html>