<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
    </style>
</head>
<body>
    <table>
		#section( "Column" )
		#nameRow( $columnLabel )
		
		#section( "Row" )
		#nameRow( $rowLabel )
		
		#section( "Parameters" )
		#foreach($key in $cell.keySet())
    	<tr>
    		<td class="label">$attr.get($key).name:</td>
        </tr>
		<tr>
    		<td class="value">$fmt.format($cell.get($key))</td>
    	</tr>
		#end
    </table>
</body>
</html>