<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
    </style>
</head>
<body>
    <table>
		#section( "Column" )
		#nameRow( $columnLabel )
		
		#section( "Row" )
		#nameRow( $rowLabel )

		#section( "Parameters" )
		#if( $cellElement )
			#foreach($key in $cell.keySet())
				#valueRow( $attr.get($key).name $fmt.format($cell.get($key)) )
				<!-- <tr>
					<td class="label">$attr.get($key).name:</td>
				</tr>
				<tr>
					<td class="value">$fmt.format($cell.get($key))</td>
				</tr> -->
			#end
		#else
			#nameRow( "Empty cell" )
		#end
    </table>
</body>
</html>