<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
    </style>
</head>
<body>
    <table>
		#section( "Title" )
		#if( $title )
			#nameRow( $title )
		#else
			#nameRow( "" )
		#end

		#section( "Notes" )
		#if( $title )
			#nameRow( $notes )
		#else
			#nameRow( "" )
		#end

		#if( $annotations.size() > 0 )
			#section( "Annotations" )
			<tr>
				<table>
					#foreach($ann in $annotations)
					<tr>
						<td class="label">$ann.name</td>
						<td class="value">$fmt.format($ann.value)</td>
					</tr>
					#end
				</table>
			</tr>
		#end

		#section( "Size" )
		<tr>
			<td class="label">Columns</td>
			<td class="value">$numColumns</td>
		</tr>
		<tr>
			<td class="label">Rows</td>
			<td class="value">$numRows</td>
		</tr>
    </table>
</body>
</html>