<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		#include("/vm/analysis/analysis_details.css")
    </style>
</head>
<body>
	<div id="section">
		<div id="section_title">Details</div>
		<div id="section_body">
			<table id="attr_table">
				#if ($analysis.title)
					<tr><td class="name">Title</td><td>$analysis.title</td></tr>
				#end
				#if( $analysis.description )
					<tr><td class="name">Notes</td><td>$analysis.description</td></tr>
				#end
				<tr><td class="name">Created</td><td>$fmt.format($analysis.startTime)</td></tr>
				<tr><td class="name">Elapsed time</td><td>$fmt.elapsedTime($analysis.elapsedTime)</td></tr>
				#if( $analysis.attributes && $analysis.attributes.size() > 0 )
					#foreach($attr in $analysis.attributes)
						#if ($attr.name)
							<tr><td class="name">$attr.name</td><td>$attr.value</td></tr>
						#end
					#end
				#end
				#if($analysisLocation)
				    <tr><td class="name">Location</td><td>$analysisLocation</td></tr>
				#end
			</table>
		</div>
	</div>

	<div id="section">
		<div id="section_title">Data</div>
		<div id="section_body">
			<table id="attr_table">
				<tr><td class="name">File</td><td>$dataFile</td></tr>
				<tr><td class="name">Applied to</td><td>$appliedTo</td></tr>
			</table>

			<div id="button_bar">
				<a rel="action" href="NewDataHeatmap"><span class="button">&nbsp;&nbsp;Heatmap&nbsp;&nbsp;</span></a>
			</div>
		</div>
	</div>

	<div id="section">
		<div id="section_title">Results</div>
		<div id="section_body">
			<table id="attr_table">
			    <tr><td class="name">File</td><td>$resultsFile</td></tr>
				<tr><td class="name">Method</td><td>$method</td></tr>
			</table>

			<div id="button_bar">
				<a rel="action" href="NewResultsHeatmap"><span class="button">&nbsp;&nbsp;Heatmap&nbsp;&nbsp;</span></a>
			</div>
		</div>
	</div>
</body>
</html>