<html>
	<head>
		<style type="text/css">
			body {
				background-color: #ffffff;
				font-family: sans-serif;
				padding: 8px;
				margin: 0px;
			}

			A:link, A:visited {
				text-decoration: none;
			}

			A:hover {
				color: #f43a01;
			}
		</style>
	</head>
	<body>
		<h1>$appName</h1>
		<p>
            <b>Gitools version <i>$appVersion</i>,</b>
            running within Java environment <i>$javaRuntimeVersion</i> from
            <i>$javaVendor</i>.
        </p>

        <p><b>Development:</b></p>
        <p>Biomedical Genomics Laboratory<br>
		Parc de Recerca Biomedica de Barcelona (PRBB)</p>

		<p><b>Developers:</b></p>
		<ul>
			<li>Christian Perez-Llamas</li>
			<li>Jordi Deu-Pons</li>
			<li>Michael P Schroeder</li>
			<li>Xavier Rafael-Pons</li>
		</ul>

		<p><b>Principal Investigator:</b></p>
		<ul>
			<li>Nuria Lopez-Bigas</li>
		</ul>

		<p><b>Acknowledgements:</b></p>
		<ul>
			<li>Sonja Haenzelmann</li>
			<li>Khademul Islam</li>
			<li>Gunes Gundem</li>
			<li>Alba Jene</li>
			<li>Sophia Derdak</li>
		</ul>
	</body>
</html>
