<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		#include("/vm/details/default.css")
    </style>
</head>
<body>
	<div id="section">
		<div id="section_title">Group</div>
		<div id="section_body">
			<table id="attr_table">
				#if( $columnElement ) <tr><td colspan="2" class="label">$columnElement</td></tr> #end
			</table>
		</div>
	</div>

	<div id="section">
		<div id="section_title">Combination</div>
		<div id="section_body">
			<table id="attr_table">
				#if( $rowElement ) <tr><td colspan="2" class="label">$rowElement</td></tr> #end
				<tr><td class="name">N</td><td>$cell.N</td></tr>
				<tr><td class="name">Z-Score</td><td>$fmt.format($cell.z-score)</td></tr>
				<tr><td class="name">P-Value</td><td>$fmt.pvalue($cell.p-value)</td></tr>
			</table>
		</div>
	</div>
</body>
</html>