<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		#include("/vm/details/default.css")
    </style>
</head>
<body>

	#if( $annotations && $annotations.size() > 0 )
	<div id="section">
		<div id="section_title">Annotations</div>
		<div id="section_body">
			<table id="attr_table">
				#foreach($ann in $annotations)
				<tr><td class="name">$ann.key</td><td>$fmt.format($ann.value)</td></tr>
				#end
			</table>
		</div>
	</div>
	#end

	#if( $links && $links.size() > 0 )
	<div id="section">
		<div id="section_title">Links</div>
		<div id="section_body">
			<table id="attr_table">
				#foreach($link in $links.entrySet())
				    #if( $link.value.startsWith('action') == true )
				        <tr><td style="white-space:nowrap;"><a rel="action" target="_external" href="$link.value">$link.key</a></td>
				    #else
                        <tr><td style="white-space:nowrap;"><a target="_external" href="$link.value">$link.key</a></td>
                    #end
				#end
			</table>
		</div>
	</div>
	#end

	<div id="section">
    		<div id="section_title">Dimensions</div>
    		<div id="section_body">
    			<table id="attr_table">
    				<tr><td class="name">Columns</td><td class="value">$numColumns</td></tr>
    				<tr><td class="name">Rows</td><td class="value">$numRows</td></tr>
    			</table>
    		</div>
    </div>

</body>
</html>