<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		#include("/vm/details/default.css")
    </style>
</head>
<body>
	<div id="section">
		<div id="section_title">Condition</div>
		<div id="section_body">
			<table id="attr_table">
				<tr><td colspan="2" class="label">$name</td></tr>
			</table>
		</div>
	</div>

	#if( $annotations && $annotations.size() > 0 )
	<div id="section">
		<div id="section_title">Annotations</div>
		<div id="section_body">
			<table id="attr_table">
				#foreach($ann in $annotations)
				<tr><td class="name">$ann.key</td><td>$fmt.format($ann.value)</td></tr>
				#end
			</table>
		</div>
	</div>
	#end

	#if( ! $linkName.isEmpty() )
	<div id="section">
		<div id="section_title">Links</div>
		<div id="section_body">
			<table id="attr_table">
				<tr><td><a href="$linkUrl">$linkName</a></td>
			</table>
		</div>
	</div>
	#end
</body>
</html>