<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		#include("/vm/details/default.css")
    </style>
</head>
<body>
	#if( $title )
	<div id="section">
		<div id="section_title">Title</div>
		<div id="section_body">$title</div>
	</div>
	#end

	#if( $notes )
	<div id="section">
		<div id="section_title">Notes</div>
		<div id="section_body">$notes</div>
	</div>
	#end

	#parse("/vm/details/common.vm")

</body>
</html>