<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		#include("/vm/details/default.css")
    </style>
</head>
<body>
	<div id="section">
		<div id="section_title">Overlapping</div>
		<div id="section_body">
			<table id="attr_table">
				#if( $columnElement ) <tr><td colspan="2" class="label">$columnElement</td></tr> #end
				#if( $rowElement ) <tr><td colspan="2" class="label">$rowElement</td></tr> #end
			</table>
		</div>
	</div>

	<div id="section">
		<div id="section_title">Positive events count</div>
		<div id="section_body">
			<table id="attr_table">
				<tr><td class="name">Column</td><td>$cell.column-count</td></tr>
				<tr><td class="name">Row</td><td>$cell.row-count</td></tr>
				<tr><td class="name">Both</td><td>$cell.both-count</td></tr>
			</table>
		</div>
	</div>

	<div id="section">
		<div id="section_title">Proportions</div>
		<div id="section_body">
			<table id="attr_table">
				<tr><td class="name">Column-Only</td><td>$fmt.percentage($cell.column-only-prop)</td></tr>
				<tr><td class="name">Row-Only</td><td>$fmt.percentage($cell.row-only-prop)</td></tr>
				<tr><td class="name">Column-Intersection</td><td>$fmt.percentage($cell.column-intersection-prop)</td></tr>
				<tr><td class="name">Row-Intersection</td><td>$fmt.percentage($cell.row-intersection-prop)</td></tr>
				<tr><td class="name">Max-Intersection</td><td>$fmt.percentage($cell.max-intersection-prop)</td></tr>
				<tr><td class="name">Jaccard-Index</td><td>$fmt.percentage($cell.jaccard-index)</td></tr>
			</table>
		</div>
	</div>
</body>
</html>