body {
	margin-top: 10px;
}

#elems {
	margin: 10px 10px 20px 10px;
	border-collapse: collapse;
	text-align: left;
}

#elems th {
	background-color: #CCC;
	vertical-align: middle;
	border-bottom: 1px solid #CCC;
	padding: 6px 8px;
	text-align: left;
}

#elems tbody tr:hover {
	background-color: #DDD;
}

#elems td {
	border-bottom: 1px solid #CCC;
	padding: 2px 4px;
}

#elems tfoot tr {
	background-color: #CCC;
	font-weight: bold;
}

#elems tfoot tr td {
	margin-top: 8px;
}

.cl {
	width: 20px;
	max-width: 20px;
	margin: 2px;
}
