<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		
		.sectionHeader {
			background-color: rgb(250, 210, 150);
			margin: 1px;
			text-align: left;
		}
		
		.propTable {
			margin: 1px;
			width: 90%;
		}
		
		.propName {
			margin: 1px;
			text-align: left;
			font-weight: bold;
		}
		
		.propValue {
			margin: 1px;
			padding-left: 4px;
			text-align: left;
			width: 100%;
		}
    </style>
</head>
<body>
    <table>
    	<tr>
    		<td class="sectionHeader">Analysis</td>
    	</tr>
    	<tr>
    		<table class="propTable">
    			<tr>
    				<td class="propName">Name</td>
    				<td class="propValue">$analysis.name</td>
    			</tr>
    			#if ( $analysis.startTime )
    			<tr>
    				<td class="propName">Created</td>
    				<td class="propValue">$fmt.format($analysis.startTime)</td>
    			</tr>
    			#end
    			#if ( $analysis.elapsedTime > 0 )
    			<tr>
    				<td class="propName">Elapsed time</td>
    				<td class="propValue">$fmt.elapsedTime($analysis.elapsedTime)</td>
    			</tr>
    			#end
    		</table>
    	</tr>
    </table>
</body>
</html>