ul {
	/* margin-left: 8px; */
}

li {
	padding-bottom: 10px;
	list-style-image: url(img/bullet.png);
}

a {
	/* font-weight: bold; */
	/* color: red; */
	font-family:arial,sans-serif;
	text-decoration: none;
}

a > img {
    margin-bottom: 3px;
}

.download {
	font-size: 16pt;
	font-weight: bold;
}

.details {
	font-size: 8pt;
	padding: 0 0 0 0;
	text-align: right;
}
