<html>
<head>
	<style type="text/css">
		#include("/vm/style/default.css")
		#include("/vm/analysis/common.css")
    </style>
</head>

<body>
	<div class="section">
		<div class="section_title">Details</div>
		<div class="section_body">
			<table class="attr_table">
				#if ($analysis.title)
					<tr><td class="attr_name">Title</td><td>$analysis.title</td></tr>
				#end
				#if( $analysis.description )
					<tr><td class="attr_name">Notes</td><td>$analysis.description</td></tr>
				#end
				<tr><td class="attr_name">Created</td><td>$fmt.format($analysis.startTime)</td></tr>
				<tr><td class="attr_name">Elapsed time</td><td>$fmt.elapsedTime($analysis.elapsedTime)</td></tr>
				#if( $analysis.attributes.size() > 0 )
					#foreach($attr in $analysis.attributes)
						#if ($attr.name)
							<tr><td class="attr_name">$attr.name</td><td>$attr.value</td></tr>
						#end
					#end
				#end
			</table>
		</div>
	</div>

	<div class="section">
		<div class="section_title">Data</div>
		<div class="section_body">
			<table class="attr_table">
				<tr><td class="attr_name">File</td><td>$dataFile</td></tr>
				<tr><td class="attr_name">Size attribute</td><td>$sizeAttr</td></tr>
				<tr><td class="attr_name">Pvalue attribute</td><td>$pvalueAttr</td></tr>
			</table>

			<div class="button_bar">
				<a rel="action" href="NewDataHeatmap"><span class="button">Heatmap</span></a>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="section_title">Groups</div>
		<div class="section_body">
			<table class="attr_table">
				<tr><td class="attr_name">File</td><td>$groupsFile</td></tr>
			</table>

			<div class="button_bar">
				<a class="button" rel="action" href="ViewModuleMap">View</a>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="section_title">Results</div>
		<div class="section_body">
			<table class="attr_table">
				<tr><td class="attr_name">Combination of</td><td>$combinationOf</td></tr>
			</table>

			<div class="button_bar">
				<a class="button" rel="action" href="NewResultsHeatmap">Heatmap</a>
			</div>
		</div>
	</div>
</body>
</html>